---
import Features from "~/components/features.astro";

import Design2 from "~/components/design2.astro";

import Design3 from "~/components/design3.astro";



---

<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

    <title>WebRepair</title>
    
  </head>

  <body class=" bg-white">
    
    <div class=" "> 
 
      <div class="grid grid-cols-12 gap-10 mr-16 pt-10 text text-2xl"> 
    
        <a class=" col-span-2 flex justify-center ml-36 text-5xl border-2 border-black font-mono font-extrabold"> WR </a> 
        
        <a href="/second" class=" hover:bg-slate-400 border border-gray-500 ml-40 mr-40 opacity-80 col-span-5 flex justify-center mt-5 ">NEXT DESIGN</a>
    
        <a href="" class=" hover:text-purple-500 text-xl mt-5 col-span-1 flex justify-start">About Us</a>
    
        <a href="" class=" hover:text-purple-500 text-xl mt-5 col-span-1 flex justify-start">Gallery</a>
    
        <a href="" class=" hover:text-purple-500 text-xl mt-5 col-span-1 flex justify-start">Contact</a>
    
        <a href="" class=" hover:text-purple-500 text-xl  mt-5 col-span-1 flex justify-start">Pricing</a>
    
        <a href="" class=" hover:text-purple-500 text-xl mt-5 col-span-1 flex justify-start">Offers</a>
        
      </div>
    </div>
      
    
      <Features />
    
      
    
    
  </body>
</html>




<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 4.2rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .text-gradient2 {
    background-image: var(--accent-gradient2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  :root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  --accent-gradient2: linear-gradient(45deg, rgb(var(--accent)), #1503b4 40%, rgb(255, 255, 255) 60%);
}
html {
  font-family: system-ui, sans-serif;
  background-color: #ffffff;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
</style>