---

import photo from "/src/data/showcase/images/photolol.png"

import photo1 from "/src/data/showcase/images/photolol2.png"

---

<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

    <title>WebRepair</title>
    
  </head>  
 
  <body class="">
    
    <div class=" "> 
 
      <div class="grid grid-cols-12 gap-10 sm:mr-16 pt-10 text sm:text-2xl"> 
    
        <a class=" col-span-2 sm:col-span-2 flex justify-center ml-2 sm:ml-36 text-lg sm:text-5xl border-2 border-white text-white font-mono font-extrabold"> WR </a>
        
        <a class=" sm:col-span-2"></a>
        
        <a href="/" class=" hover:bg-neutral-50 border border-gray-500 sm:ml-20 mr-20 text-xl col-span-9 md:col-span-4 flex justify-center sm:mt-5 ">NEXT DESIGN</a>
    
        <a class="sm:col-span-2"></a>

        <a class="sm:col-span-2"></a>
    
        
      </div>
    </div>
      
    
    <html> 
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Oswald:wght@300;400&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
      
     
    
    <div class=" grid grid-cols-12 mt-10">

        

        <div class=" hidden col-span-12 sm:flex justify-center mt-10 -mb-10  ">
        
            <img src={photo1} alt="" style=" height: 80%;">
                
        </div>
        <div class=" sm:hidden col-span-12 flex justify-center mt-10 -mb-10  ">
        
          <img src={photo1} alt="">
              
      </div>

    </div>
       
    
    
    <div class=" grid grid-cols-12 bg-white py-16 -mt-16 "> 
    
        <div class=" sm:col-span-2">  </div>

        <div class=" font col-span-10 sm:col-span-4 text-xl sm:mt-0 mt-16 sm:text-5xl flex justify-center ">
            <div> Real Estate CO. </div>
        </div>

        <div class=" font col-span-12 sm:col-span-4 text-lg sm:mt-0 mt-5 sm:text-2xl text-gray-600 flex justify-center ">
                Slow-loading 
                websites can frustrate users and make them less likely to return in the future.
                          
                
        </div>
    
    
    </div>
    
    
    
     
    </html>
    
      
    
    
  </body>
</html> 

 


<style>
.image1 {
 
}


  .font {
     font-family: 'Sawarabi Gothic', sans-serif;
    }
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    
  }
  h1 {
    font-size: 4.2rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .text-gradient2 {
    background-image: var(--accent-gradient2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  :root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  --accent-gradient2: linear-gradient(45deg, rgb(var(--accent)), #1503b4 40%, rgb(255, 255, 255) 60%);
}
html {
  font-family: system-ui, sans-serif;
  background-color: #eed1d1;
}
body {
  background-color: #eed1d1;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
</style>