---

  
  const ColoredHeadline = "INSIDE TEMPLATE"
  
  const Headline = "So what's inside? ..."
  
  const items = [ 
  
    {title: "Speed",
    description: "our websites load fast",},
  
    {title: "Readability",
    description: "you read through them fast",},
  
    {title: "Price",
    description: "prices are very affordable",}
  
  ]
---

<div class=" "> 
 
    <div class="grid grid-cols-12 gap-10 mr-16 mt-10 text text-2xl"> 
  
      <a class=" col-span-2 flex justify-center ml-36 text-5xl border-2 border-black text-black font-mono font-extrabold"> WR </a>
        
      <a href="" class="col-span-2"></a>
      
      <a href="/third" class=" hover:text-purple-600 border text-black border-gray-500 ml-20 mr-20 col-span-4 flex justify-center mt-5 ">NEXT DESIGN</a>
  
      <a href="" class="col-span-2"></a>

      <a href="" class="col-span-2"></a>
  
      
      
    </div>
  </div>

  
  
  
  <section class= 'pt-0 md:pt-0 bg-blue-50 dark:bg-slate-800 mt-5 py-16 md:py-20'>
  
  
    <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
  
      <h1 class=" text-blue-800 font-semibold text-lg md:text-2xl flex justify-center pt-10 "> INSIDE  </h1>
      <h2 class=" font-bold md:text-6xl text-3xl flex justify-center font-serif mt-2"> So what's inside? </h2>
  
    </div>
    
    
  
  <div class=" grid grid-cols-12 ">
  
      <div class=" col-span-12 md:col-span-6 mx-auto p-4 mt-16">
          
            {
              items.map(({ title, description }) => (
                <h1 class=" text-lg md:text-2xl font-semibold flex justify-center md:justify-start pt-10 "> {title}  </h1>
            <h2 class=" text-lg md:text-2xl flex justify-center md:justify-start pt-1 "> {description}  </h2>
              ))
            }          
  
      </div>
  
  
  
      <div class=" hidden md:block col-span-0 md:col-span-6 mx-auto p-4 mt-16 ">
          
        <img src="/images/hero.png" alt="">
  
      </div>
  
  
  </div>
  
  
  
  
  </section>








  <style>
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 60ch;
    }
    h1 {
      font-size: 4.2rem;
      font-weight: 800;
      margin: 0;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .text-gradient2 {
      background-image: var(--accent-gradient2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      line-height: 1.6;
      margin: 1rem 0;
      border: 1px solid rgba(var(--accent), 25%);
      background-color: white;
      padding: 1rem;
      border-radius: 0.4rem;
    }
    .instructions code {
      font-size: 0.875em;
      font-weight: bold;
      background: rgba(var(--accent), 12%);
      color: rgb(var(--accent));
      border-radius: 4px;
      padding: 0.3em 0.45em;
    }
    .instructions strong {
      color: rgb(var(--accent));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
    :root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--accent-gradient2: linear-gradient(45deg, rgb(var(--accent)), #1503b4 40%, rgb(255, 255, 255) 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #ffffff;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
  </style>